[buildout]                                                                      
develop = .
parts = interpreter test
extends = http://gitweb.dolmen-project.org/misc.git?a=blob_plain;f=dolmen-kgs-1.0dev.cfg;hb=HEAD
versions = versions


[versions]
dolmen.content = 0.3.1
grokcore.view = 1.13.5
zeam.form.base = 1.0b3


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.authentication
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.authentication [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--package=dolmen.app.authentication']
